<!-- CONTEUDO -->
<div class="container">
    <div class="row">
        <h4><span class="title">Aplicativo</span></h4>

        <h6>Release Github</h6>
        <br>
        <a target="_blank" id="link" href="https://github.com/InCasa/aplicativo/releases">InCasa App</a>

        <br>
        <br>

        <h6>Release Google Drive</h6>
        <br>
        <a target="_blank" id="link" href="https://drive.google.com/open?id=0B_h0JH1CyUSGWjNyOWJNMTBZZjA">InCasa App</a>

    </div>
</div>
<!-- CONTEUDO fim -->