<!-- CONTEUDO -->
<div class="container">
    <div class="row">
        <h4><span class="title">Desenvolvimento</span></h4>

        <p> As linguagens usadas no desenvolvimento do sistema foram:</p>

        <li>Java</li>
        <li>PHP</li>
        <li>JavaScript</li>
        <li>C++</li><br>

        <p>Banco de Dados:</p>

        <li>MySQL</li><br>

        <h4>Tecnologias</h4>

        <li><a target="_blank" id="link" href="https://www.slimframework.com/">Slim Framework</a></li>
        <li><a target="_blank" id="link" href="https://developer.android.com/training/volley/index.html">Volley Framework</a></li>
        <li><a target="_blank" id="link" href="https://angularjs.org/">AngularJS</a></li>
        <li><a target="_blank" id="link" href="http://foundation.zurb.com/">Foundation</a></li>
        <li><a target="_blank" id="link" href="https://developer.android.com/reference/android/speech/tts/TextToSpeech.html">Android Speech</a></li>
        <li><a target="_blank" id="link" href="https://webpack.github.io/">Webpack</a></li>

    </div>
</div>
<!-- CONTEUDO fim -->