<!-- CONTEUDO -->
<div class="container">
    <div class="row">
        <h4><span class="title">Equipe</span></h4>

        <div class="row">
            <p>Alunos: </p>

            <table class="responsive">
                <tr>
                    <th>Nome</th>
                    <th>Email</th>
                    <th>GitHub</th>
                </tr>
                <tr>
                    <td>Leonardo Silva Calado</td>
                    <td><a id="link" href="mailto:leonardosilva.uba@hotmail.com">leonardosilva.uba@hotmail.com</a></td>
                    <td>/leonardocalado</td>
                </tr>
                <tr>
                    <td>Rodrigo dos Santos de Oliveira</td>
                    <td><a id="link" href="mailto:rodrigo.uba@gmail.com">rodrigo.uba@gmail.com</a></td>
                    <td>/Abumeragan</td>
                </tr>
            </table>

        </div>

        <div class="row">
            <p>Orientador: </p>

            <table class="responsive">
                <tr>
                    <th>Nome</th>
                    <th>Email</th>
                </tr>
                <tr>
                    <td>Prof. Dr. Ederson R. Wagner</td>
                    <td><a id="link" href="mailto:ifsp.ederson@gmail.com">ifsp.ederson@gmail.com</a></td>
                </tr>
            </table>

        </div>

    </div>
</div>
<!-- CONTEUDO fim -->