<!-- CONTEUDO -->
<div class="row">
    <div class="large-8 medium-8 columns">
        <h4><span class="title">Projeto</span></h4>

        <p>O projeto de TCC se chama InCasa e é um sistema de automação residencial através de micro controlador
             Arduino utilizando API de reconhecimento de voz, seu público alvo são pessoas com mobilidade reduzida, idosos e deficientes fisicos com mobilidade reduzida.</p>

        <p>O Projeto Incasa é dividido em 4 frentes:</p>

        <ul class="list">
            <li><a target="_blank" id="link" href="https://github.com/incasa/backend">Servidor(PHP)</a></li>
            <li><a target="_blank" id="link" href="https://github.com/incasa/aplicativo">Aplicativo(Android)</a></li>
            <li><a target="_blank" id="link" href="https://github.com/incasa/arduino">Arduino</a></li>
            <li><a target="_blank" id="link" href="https://github.com/incasa/frontend">Página Web</a></li>
        </ul>

        <p>A partir do aplicativo android o usuario pode fazer comando de voz que são reconhecidos
             com a API Speech Text do Google e enviados para o servidor backend.</p>

        <p>O servidor backend troca informações com o arduino enviando comandos e recebendo valores dos sensores.</p>

        <p>Assim o aplicativo recebe as informações armazenadas no banco e exibe para o usuário.</p>

        <p>O projeto também conta com uma página web, para gerenciamento do sistema via navegador</p>

        <h4>Funcionalidades</h4>

        <ul class="list">
            <li>Comando de voz</li>
            <li>Ligação de equipamentos eletro/eletrônicos</li>
            <li>Controle de sensores</li>            
        </ul>

    </div>
</div>
<!-- CONTEUDO fim -->